{% extends 'generic/object.html' %}
{% load buttons %}
{% load perms %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">SAML Configuration</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">ACS URL</th>
            <td>{{ object.saml_config.acs_url }}</td>
          </tr>
          <tr>
            <th scope="row">Logout URL</th>
            <td>{{ object.saml_config.logout_url }}</td>
          </tr>
          <tr>
            <th scope="row">Force AuthnRequest</th>
            <td>{{ object.saml_config.force_nauth }}</td>
          </tr>
        </table>
      </div>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/tags.html' %}
  </div>
</div>
<div class="controls">
  <div class="control-group">
    {% if request.user|can_change:object.saml_config %}
      {% edit_button object.saml_config %}
    {% endif %}
    {% if request.user|can_delete:object.saml_config %}
      {% delete_button object.saml_config %}
    {% endif %}
  </div>
</div>
{% endblock content %}
